pypy-pydrofoil-scripting-experimental/*
*pypy-pydrofoil-scripting-experimental
*pypy-pydrofoil-scripting-experimental/*
testplugin
_pydrofoilcapi_cffi.*
*.o
*.a
*.elf
*.bin
*.o.tmp
*.pyc
*.so
*.zip
*.tar
.vscode
.cache
**/build/
**/bin/
sw/zephyr/workspace/
juliet_test_suite
juliet_test_suite/*