### General configuration ####################################################
system.name       = interrupt example
system.config     = ${cfg}

system.throttle.rtf = 0
system.core.trace = 1

# TLM global quantum, a higher value improves performance but reduces timing
# accuracy. Use integer values with suffixes s, ms, us or ns.
# 100 instructions on a call of simulate (1 instr = 1 clk cycle)
system.quantum = 100ns
# Specify simulation duration. Simulation will stop automatically once this
# time-stamp is reached. Use integer values with suffixes s, ms, us or ns. If
# you want to simulate infinitely, leave this commented out.
#system.duration = 100000ns # --> 1k instructions --> 1ns/instr

# Clock frequency
system.clk_cpu.hz = 1000000000 # 1 GHz

### CPU configuration ########################################################
# Change to "rv64" or "rv32" when using 64b or 32b arch respectively
system.core.arch_name = "rv64"
system.core.verbose = false
system.core.gdb_port   = 5555
system.core.gdb_wait   = true

system.core.symbols = ${dir}/build/main.elf
system.core.pc = 0x80000000

# Memory configuration
system.core.elf = ${dir}/build/main.elf
system.loader.images = ${dir}/build/main.elf

#system.uart0.trace = true

# Terminal configuration
system.term.backends  = tui tcp:52010 # stdout|file|tap|null